@model GameCatalogue.Application.DTOs.GameDTO

<h3 class="text-primary text-title">Game Details</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Producer)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Producer)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Gender)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Image)</dt>
        <dd class="col-sm-10">
            @if (!ViewBag.ImageExist)
            {
                <img src="~/images/noimage.png" class="rounded-circle" height="170" width="170" asp-append-version="true" />
            }
            else
            {
                <img src="~/images/@Model.Image" class="img-thumbnail" height="170" width="170" asp-append-version="true" />
            }
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Quantity)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Quantity)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Platform)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Platform.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success"><i class="fas fa-edit buttons-size"
            title="Edit"></i></a> |
    <a asp-action="Index" class="btn btn-outline-primary" title="Back to List"><i
            class="fas fa-arrow-left buttons-size"></i></a>
</div>
